<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Производство</title>
    {% if isProduction %}
        <link rel="icon" type="image/svg+xml" href="/production-app/public/dist/assets/vite-DcBtz0py.svg" />
        <script type="module" crossorigin src="/production-app/public/dist/assets/index-DzKYRc5c.js"></script>
        <link rel="stylesheet" crossorigin href="/production-app/public/dist/assets/index-DbrzlL-a.css">
    {% else %}
        <link rel="icon" type="image/svg+xml" href="/dist/assets/vite-DcBtz0py.svg" />
        <script type="module" crossorigin src="/dist/assets/index-Dork-quE.js"></script>
        <link rel="stylesheet" crossorigin href="/dist/assets/index-Dvh3SC7A.css">
    {% endif %}
</head>
<body>
{% if areUserTehnolog is not empty %}
    <div id="productionApp"></div>
{% else %}
    <h1>Нет доступа</h1>
{% endif %}
</body>
</html>
