<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Настройка производства</title>
    {% if isProduction %}
        <link rel="icon" type="image/svg+xml" href="/production-app/public/dist/assets/vite-DcBtz0py.svg" />
        <script type="module" crossorigin src="/production-app/public/dist/assets/index-jSYCvUlH.js"></script>
        <link rel="stylesheet" crossorigin href="/production-app/public/dist/assets/index-Bu5B5Zjv.css">
    {% else %}
        <link rel="icon" type="image/svg+xml" href="/dist/assets/vite-DcBtz0py.svg" />
        <script type="module" crossorigin src="/dist/assets/index-BZbSXb3F.js"></script>
    <link rel="stylesheet" crossorigin href="/dist/assets/index-Bu5B5Zjv.css">
    {% endif %}

    <script src="//api.bitrix24.com/api/v1/"></script>
</head>
<body>
{% if isUserTehnolog is not empty %}
    {% if dealId is empty %}
        <h1>Сделка не найдена</h1>
    {% else %}
        <div id="productionApp" data-deal-id="{{ dealId }}" data-user-auth="{{ userAuth|json_encode }}"></div>
    {% endif %}
{% else %}
    <h1>Нет доступа</h1>
{% endif %}

</body>
</html>
